body{
    font-family: Coursive, sans-serif;
    background-color: #416bcb;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 40px;
}

button{
    border: 1px solid white;
    border-radius: 5px;
    background-color: #416bcb;
    color: white;
    margin: 10px;
    padding: 18px 10px;
    width: 180px;
    font-size: 1.2em;
    cursor: pointer;
    &:hover{
        color: orange;
        border: solid 1px orange;
        background: white;
    }
}
